.edit-services-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  right: -20%;
  width: 80%;

  .edit-services-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .edit-services-control {
      align-items: center;
      display: flex;
      flex-direction: column;

      .add-section-button {
        background-color: #42c960;
        border: none;
        border-radius: 50%;
        color: black;
        cursor: pointer;
        height: 60px;
        font-size: 40px;
        margin-bottom: 4px;
        width: 60px;
      }
    }

    .section-container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;
    }

    span {
      border-top: 1px solid black;
      width: 60%;
    }
  }
}
