.testimonial-section {
  h1 {
    font-size: 50px;
  }
  form {
    .heading {
      display: block;
      label {
        align-items: left;
      }
    }
    input {
      width: 328px;
      height: 40px;
      margin: 5px 0;
    }
    textarea {
      width: 329px;
      height: 247px;
    }
    .testimonial-wrapper {
      display: flex;
      align-items: center;
      background-color: aqua;
      .testimonial {
        //
        textarea {
          width: 329px;
          height: 247px;
        }
      }
    }
  }
}
