@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import "../../../App.scss";
.FAQ-section {
  position: relative;
  right: -8%;
  width: 70%;
  margin: auto;

  height: 100vh;

  h1 {
    width: 65%;
    margin: auto;
    font-size: 48px;
    text-align: center;
    font-family: "DM Serif Display", serif;
    text-align: center;
    margin: 20px auto 60px;

    border-bottom: 1px solid $color;
  }
}
