@import "../../../App.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

.FAQ-home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 678px;
  background-color: $background-color;

  .FAQ-header {
    font-family: "DM Serif Display", serif;
    font-size: 48px;
    text-align: center;
  }

  .FAQ-wrapper {
    height: 542px;
    width: 1086px;

    .faq-section {
      display: flex;
      flex-direction: column;
      padding: 1em;

      .faq-control {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .faq-title {
          font-size: 24px;
          margin: 0;
          transition: 500ms ease-out;
        }

        .symbol {
          cursor: pointer;
          font-size: 29px;
          color: $secondary-color;
          font-weight: 500;
        }
      }

      span {
        background-color: $black;
        height: 1px;
        width: 100%;
      }
    }
  }
}
