@import "../../../../App.scss";

.forgot-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;

  .forgot-title-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;

    .forgot-text {
      font-size: 9px;
      margin: 0;
    }

    .forgot-title {
      margin: 0;
    }
  }

  .forgot-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2em;
    width: 100%;

    .forgot-email-control {
      display: flex;
      flex-direction: column;
      width: 279px;

      .forgot-email-input {
        height: 30px;
        width: 279px;
      }
    }

    .forgot-submit-button {
      background-color: $tertiary-color;
      border: none;
      color: $primary-color;
      padding: 8px 0;
      width: 279px;
    }
  }
}
