@import "../../../App.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

.testimonials-home {
  background-color: $background-color;
  height: 75vh;
  // width: 100vw;
  // padding: 15px 0 50px 0;
  .testimonials-home-title {
    text-align: center;
    padding: 10px 0 20px;
    .testimonial-header {
      font-family: "DM Serif Display", serif;
      font-size: 48px;
      text-align: center;
    }
  }
  .testimonials-home-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .testimonial-home {
      width: 32%;
      height: 44vh;
      background-color: $primary-color;
      padding: 45px;
      align-items: center;
      box-shadow: -1px 15px 18px 14px rgba(0, 0, 0, 0.13);
      -webkit-box-shadow: -1px 15px 18px 14px rgba(0, 0, 0, 0.13);
      -moz-box-shadow: -1px 15px 18px 14px rgba(0, 0, 0, 0.13);
      .name {
        border-bottom: 1px solid $black;
        font-size: 24px;
        text-align: center;
        line-height: 32px;
        color: $color;
        font-family: "DM Serif Display", serif;
        padding: 0 0 20px;
      }
      .about-mixcellence {
        font-size: 16px;
        line-height: 24px;
        color: $color;
        font-family: "Poppins", sans-serif;
        padding: 50px 20px;
      }
      .address {
        text-align: center;
        font-size: 14px;
      }
    }
  }
}
