$primary-color: #fff;
$secondary-color: #504c9c;
$tertiary-color: #9794cc;
$background-color: #e8e5ee;
$black: #000;

.testimonials-home {
  background-color: $background-color;
  height: 85vh;
  // width: 100vw;
  padding: 15px 0 50px 0;
  .testimonials-home-title {
    text-align: center;
    padding: 25px 0 50px;
  }
  .testimonials-home-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .testimonial-home {
      width: 30%;
      height: 50vh;
      background-color: $primary-color;
      padding: 45px;
      align-items: center;
      box-shadow: -1px 15px 18px 14px rgba(0, 0, 0, 0.13);
      -webkit-box-shadow: -1px 15px 18px 14px rgba(0, 0, 0, 0.13);
      -moz-box-shadow: -1px 15px 18px 14px rgba(0, 0, 0, 0.13);
      .name {
        border-bottom: 1px solid $black;
      }
    }
  }
}
