@import "../../../App.scss";

.services-container {
  display: flex;
  flex-direction: column;
  padding: 2em 0;

  .service-title {
    font-size: 48px;
    text-align: center;
  }

  .services-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    width: 100%;

    .service-wrapper {
      display: flex;

      .service-info-wrapper {
        height: 266px;
        padding: 0.5em;
        width: 316px;

        hr {
          margin: 0;
        }

        .service-heading {
          font-size: 32px;
          margin: 0;
        }

        .service-sub-heading {
          font-size: 14px;
          margin-top: 0;
        }

        .service-text {
          font-size: 16px;
          margin-top: 3em;
        }
      }

      .service-img {
        height: 350px;
        transition: width 500ms ease-out;
        width: 205px;

        &.active {
          height: 350px;
          transition: width 500ms ease-out;
          width: 316px;
        }
      }
    }
  }
}
