@import "../../../App.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

.header-container {
  align-items: center;
  background-color: $primary-color;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  z-index: 2;

  .header-book-us {
    background-color: $secondary-color;
    border-radius: 8px;
    color: $primary-color;
    padding: 8px 32px;
    text-decoration: none;
  }

  .header-list {
    display: flex;
    gap: 8em;
    list-style: none;

    .header-item {
      .header-links {
        color: $black;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  .header-name {
    color: $black;
    cursor: pointer;
    font-family: "DM Serif Display", serif;
    font-size: 24px;
    letter-spacing: 8px;
    text-decoration: none;
  }
}
