.events-section {
  height: 80vh;
  width: 80vw;
  margin: auto;
  .events-home-title {
    text-align: center;
    padding: 20px;
  }
  .events-home-wrapper {
    height: 60vh;
    // margin: 1rem auto;
    // width: min(90%, 75rem);
    display: grid;
    grid-template-columns: 49% 24% 24%;
    grid-template-rows: 100%;
    gap: 1em;
    background-color: green;
    img {
      width: 100%;
      height: 100%;
    }
    .column-middle,
    .column-right {
      display: grid;
      grid-template-rows: 49% 49%;
      gap: 1em;
    }

    // .img1 {
    //   // grid-row: 1/4;
    //   width: 100%;
    //   height: 100%;
    // }
    // .img2,
    // .img3,
    // .img4,
    // .img5 {
    //   width: 100%;
    //   height: 100%;
    // }
    // .img5 {
    //   width: 100%;
    //   height: 50%;
    // }
  }
}
