@import "../../../App.scss";

.edit-bartenders-container {
  position: relative;
  right: -10%;
  width: 90%;

  .edit-bartenders-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .bartenders-section-container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;
    }

    .edit-bartenders-control {
      align-items: center;
      display: flex;
      flex-direction: column;

      .add-bartender-section-button {
        background-color: $icon-green;
        border: none;
        border-radius: 50%;
        color: $black;
        cursor: pointer;
        height: 60px;
        font-size: 40px;
        margin-bottom: 4px;
        width: 60px;
      }
    }

    span {
      border-top: 1px solid $black;
      width: 60%;
    }
  }
}
