@import "../../../App.scss";

.edit-hero-container {
  position: relative;
  right: -10%;
  width: 90%;

  .edit-hero-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .hero-form-button {
      background-color: $secondary-color;
      border: none;
      color: $primary-color;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
      margin-top: 1em;
      padding: 8px 44px;
    }

    span {
      border-top: 1px solid $black;
      width: 60%;
    }
  }
}
