@import "../../../App.scss";
.edit-events-section {
  position: relative;
  right: -10%;
  width: 90%;

  .edit-events-header {
    width: 65%;
    margin: auto;
    font-size: 48px;
    text-align: center;
    font-family: "DM Serif Display", serif;
    text-align: center;
    margin: 20px auto 60px;
    border-bottom: 1px solid $color;
  }

  .edit-events-wrapper {
    display: flex;
    justify-content: center;
    gap: 1em;
    position: relative;
    right: -8%;
    width: 92%;

    .small-events-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .small-events-first-row {
        display: flex;
        gap: 1em;
      }
      .small-events-second-row {
        display: flex;
        gap: 1em;
      }
    }
  }
}
