@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
$primary-color: #fff;
$secondary-color: #504c9c;
$tertiary-color: #9794cc;
$background-color: #e8e5ee;
$black: #000;
