@import "../../../../../../App.scss";

.bartender-input-file-container {
  align-items: center;
  border: 3px dashed $black;
  display: flex;
  height: 345px;
  justify-content: center;
  margin-top: 2em;
  margin-right: 0.5em;
  width: 308px;

  .bartender-input-file-control {
    align-items: center;
    display: flex;
    flex-direction: column;

    .bartender-input-file-button {
      border: none;
      border-radius: 50%;
      height: 60px;
      font-size: 40px;
      margin-bottom: 4px;
      width: 60px;
    }

    label {
      font-size: 16px;
    }
  }
}
