.admin-header {
  background-color: #e8e5ee;
  padding: 20px;
  font-size: larger;
  letter-spacing: 2px;
  text-align: center;
  padding-left: 20%;
}
.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 2px 4px 2px #8b8c8c;
  box-shadow: rgba(0, 0, 0, 0.35) 05px 0px 40px;
  width: 20%;
  height: 90vh;
  align-items: center;

  li {
    text-decoration: "none";
    list-style: none;
  }
}
