.service-form {
  align-items: center;
  display: flex;
  flex-direction: column;

  .service-form-control {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;

    input {
      height: 40px;
      padding: 12px;
      width: 307px;
    }

    textarea {
      padding: 12px;
      width: 307px;
    }
  }
}
